.home__container {
  width: 100%;
  min-height: 100vh;
  .home__wrapper {
    max-width: 80rem;
    margin: auto;
    padding: 0 2rem;
    .card__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      grid-gap: 1rem;
    }
  }
}
